body {
	background-color:white;
	font-family:verdana,arial;
	font-size:0.8em;
	position:relative;
	margin-left:10%; 
	margin-right:10%; 
}
a:link
{
	color:gray;
	font-weight:bold;

}
a:visited
{
	color:silver;
	font-weight:bold;
}
a:active
{
	color:black;
	background-color:black;
	font-weight:bold;
}
a:hover
{
	color:white;
	background-color:gray;
	font-weight:bold;
}

h3.titre1 {
	margin-left:30%;
	margin-right:30%; 
	color:white;
	text-align:center;
	background-color:gray;
	line-height:2em;
}
.line {
	border-bottom-style:solid;
	border-width:1px;
}
ul.shell1 {
	color:white;
	font-family:arial;
	background-color:gray;
	font-size:1em;
	margin-left:0%; 
	padding-left:0%; 
	list-style-type:none;
}
ol {
	font-family:arial;
	font-size:0.9em;
	font-weight:bold;
	line-height:1.5em;
}
.titre2 {
	font-size:1.5em;
	text-decoration:underline;
}
.creat {
	border-style:dotted;
	border-width:1px;
}
.conc {
	font-size:1.5em;
	text-decoration:underline;
}
.refd {
	position:absolute;
	right:5px;
	border-style:solid;
	border-width:1px;
	font-size:0.8em;
	width:150px;
	height:40px;
	text-align:center;
	line-height:1.5em;
	top:-5px;
}
 .ret {
	 position:fixed;
	 top:20px;
	 left:15px;
	 width:10px; 
 }
 img {
	 border-style:solid;
	 border-width:1px;
	 border-color:black;
	 margin-left:auto;
	 margin-right:auto;
 }
 h4 {
 }
 h3 {
 }

 .ex {
	font-size:1em;
	color:grey;
 }
